<button mat-mini-fab color="primary">
  <mat-icon layout-align="center" (click)="add()">add</mat-icon>
</button>

<mat-list layout-padding class="offers">


 <mat-list-item matLine class="item" *ngFor="let offer of offers" (click)="onClick(offer)">
{{offer.id}}
{{offer.title}}
{{offer.created_at}}
{{offer.category.name}}
 <button mat-button (click)="edit(offer)">
   <mat-icon>edit</mat-icon>
 </button>
 <button mat-button color="warn" (click)="delete(offer)">
   <mat-icon>delete_forever</mat-icon>
 </button>
 </mat-list-item>
</mat-list>


<div *ngIf="selectedOffer">
{{selectedOffer}}
<!--<mat-select *ngIf="categories" *ngFor="let category of categories">
    <mat-form-field>{{category.name}}</mat-form-field>
</mat-select>-->
</div>
