<div class="tab-menu">
  <button mat-mini-fab color="primary" *ngIf="selectedCategory"
  style="float:right; margin-right: 5px;">
    <mat-icon (click)="exit()">clear</mat-icon>
  </button>

  <button mat-mini-fab color="primary" *ngIf="selectedCategory"
  style="float:right; margin-right: 5px;">
    <mat-icon (click)="save(selectedCategory)">save</mat-icon>
  </button>

  <button mat-mini-fab color="primary" *ngIf="!selectedCategory"
  style="float:right; margin-right: 5px;">
    <mat-icon (click)="add()">add</mat-icon>
  </button>
</div>

<mat-list layout-paddin class="categories" *ngIf="!selectedCategory">
 <mat-list-item *ngFor="let category of categories"
 (click)="onClick(category)">{{category.name}}
   <button mat-button color="warn" (click)="delete(category)">
    <mat-icon>delete_forever</mat-icon>
  </button>
 </mat-list-item>
</mat-list>


<div *ngIf="selectedCategory">
  <mat-form-field hintLabel="Max 100 characters" appearance="fill">
    <mat-label>Enter category</mat-label>
    <input matInput #input maxlength="100" placeholder="Category name" [(ngModel)]="selectedCategory.name">
    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
</div>